$color_1: #fff;
$color_2: inherit;
$color_3: var(--app-color-main);
$color_4: var(--app-color-content);
$background-color_1: var(--app-color-content);
$background-color_2: var(--app-color-main);
$background-color_3: #fff;
$background-color_4: var(--app-color-light);
$background-color_5: rgba(0,0,0,0.6);
$background-color_6: transparent;
$background-color_7: var(--app-color-gray);
$background-color_8: rgba(var(--app-color-main-rgb), 0.7);


.img-effect {
    .poster {
        overflow: hidden;
    }
    &:hover {
        .poster {
            img {
                transform: scale(1.2);
            }
        }
    }
}

// about

.rounded {
    border-radius: 0.25rem;
}



// points
// todo - this two styles are currently applied in banner as well. Need to standardize.
.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.dark-overlay {
    position: relative;
    z-index: 1;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: $background-color_8;
        z-index: -1;
    }
}

.balls {
    padding: 90px 0;
    color: $color_1;
    h2 {
        text-align: center;
        margin-bottom: 80px;
    }
    hr {
        background: #fff;
        color: $color_1;
        margin: 30px 0;
        opacity: 0.75;
    }
}
.balls-box {
    padding: 80px;
    border: 10px solid var(--app-color-content);
    text-align: center;
    .icon-box {
        width: 80px;
        min-width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        margin: 0 auto;
        position: relative;
        top: -126px;
        margin-bottom: -82px;
        transform: rotate(45deg);
        background-color: $background-color_1;
        box-shadow: var(--app-color-shadow);
        transition: all 0.3s ease-out;
        img {
            max-width: 100%;
            height: auto;
        }
        i {
            font-size: 2em;
            line-height: 1;
            color: $color_1;
            transform: rotate(-45deg);
        }
        &:hover {
            transform: rotate(0deg);
            background-color: $background-color_3;
            i {
                transform: rotate(0deg);
                color: $color_4;
            }
        }
    }
    .inner-box {
        text-align: left;
        padding: 10px;

        span {
            display: inline-block;
            text-align: center;
            font-style: normal;
            font-size: 1.6em;
            line-height: 1.8em;
            background: var(--app-color-gray);
            width: 50px;
            height: 50px;
            margin-right: 10px;
            border-radius: 100%;
            color: $color_3;

            &.test {
                background: var(--app-color-content);
                color: $color_1;
            }

            &.optional {
                background: var(--app-color-gray);
                color: $color_1;
            }
        }

        h4 {
            margin: 20px;
        }
    }
    .inner-list {
        li {
            list-style: none;
            margin: 10px;
            text-align: left;
        }
    }
    .inner-bullet {
        text-align: center;

        li {
            list-style: none;
            display: inline-block;
            vertical-align: middle;
            margin: 10px;

            strong {
                display: inline-block;
                width: 30px;
                height: 30px;
                margin-right: 5px;
                border-radius: 100%;
                &.test {
                    background: var(--app-color-content);
                }
                &.work {
                    background: var(--app-color-gray);
                }
            }
        }
    }
}
@media (max-width: 1199px) {
    .balls-box {
        padding: 60px 40px;
        .icon-box {
            width: 60px;
            min-width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            top: -94px;
            margin-bottom: -63px;
            img {
                max-width: 100%;
                height: auto;
            }
            i {
                font-size: 1.5em;
            }
        }
    }
}
@media (max-width: 767px) {
    .balls-box {
        padding: 60px 20px 40px;
        border: 4px solid var(--app-color-content);
        .icon-box {
            top: -92px;
            margin-bottom: -61px;
        }
    }
}


// presentation


.presentation {
    background-color: $background-color_4;
    h2 {
        text-align: center;
        margin-bottom: 40px;
    }
}
.presentation-area {
    position: relative;
    z-index: 9;
}
.presentation-box {
    padding: 35px 25px;
    background-color: $background-color_3;
    box-shadow: var(--app-color-shadow);
    height: 100%;
    li {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: .5rem;
        color: $color_3;
        margin: 0;
        &:first-of-type {
            padding-top: 0;
        }
        &:last-of-type {
            padding-bottom: 0;
            border-bottom: 0 solid transparent;
            margin-bottom: -7px;
        }
    }
}
.presentation-wrapper {
    margin-top: 30px;
    h6 {
        margin-top: 0;
    }
    .accordion-item {
        margin-bottom: 20px;
        border: 0 solid transparent;
        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
    }
    .accordion-button {
        padding: 14px 20px 18px;
        font-size: 1.1em;
        background-color: $background-color_4;
        border: none;
        color: $color_3;
        padding-left: 45px;
        position: relative;
    }
    .accordion-body {
        padding: 24px 20px;
        background-color: $background-color_4;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(100% - 40px);
            height: 1px;
            transform: translateX(-50%);
            background-color: $background-color_7;
        }
        p {
            margin-bottom: -6px;
        }
    }
}
.presentation-img {
    text-align: center;
}
.accordion-button {
    &:focus {
        box-shadow: none;
    }
}
@media (max-width: 1199px) {
    .presentation-box {
        padding: 30px 15px;
        li {
            padding: 14px 0;
        }
    }
    .presentation-wrapper {
        .accordion-button {
            padding: 14px 15px 18px;
            padding-left: 40px;
            font-size: 1em;
            &::after {
                left: 15px;
            }
        }
        .accordion-body {
            padding: 25px 15px;
            &::before {
                width: calc(100% - 30px);
            }
        }
    }
}
@media (max-width: 991px) {
    .presentation-img {
        margin-bottom: 50px;
    }
}


// labs

.labs-single {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    background-color: $background-color_3;
    box-shadow: var(--app-color-shadow);
    &:hover {
        .icon-box {
            background-color: $background-color_1;
        }
        .button {
            background-color: $background-color_1;
            color: $color_1;
        }
    }
}
.labs-single-content {
    flex-grow: 1;

    padding: 15px 15px 35px;
    text-align: center;
    .poster {
        a {
            width: 100%;
            height: auto;
        }
        img {
            width: 100%;
        }
    }
    .icon-box-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 28px;
    }
    .icon-box {
        width: 90px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $background-color_2;
        position: relative;
        top: -45px;
        margin-bottom: -45px;
    }
    h5 {
        margin-bottom: 25px;
    }
    p {
        min-height: 80px;
    }
}
@media (max-width: 1199px) {
    .labs-single-content {
        padding-bottom: 25px;
        .icon-box-wrapper {
            margin-bottom: 23px;
        }
        .icon-box {
            width: 60px;
            height: 60px;
            top: -30px;
            margin-bottom: -30px;
            img {
                max-width: 50%;
            }
        }
    }
}
@media (max-width: 767px) {
    .labs-single-content {
        p {
            min-height: auto;
        }
    }
}



// lectures

.lecture {
    background-color: $background-color_4;
}
.lecture-slider {
    .slick-dots {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 0;
        padding: 65px 0 0;
        list-style-type: none;
        li {
            margin: 0 0.25rem;
        }
        button {
            display: block;
            width: 12px;
            height: 12px;
            padding: 0;
            border: none;
            border-radius: 50%;
            background-color: $background-color_6;
            outline-offset: 4px;
            outline: 1px solid var(--app-color-content) !important;
            text-indent: -9999px;
        }
        li.slick-active {
            button {
                background-color: $background-color_1;
            }
        }
    }
}

.lecture-single-inner {
    display: flex;
    align-items: center;
    background-color: $background-color_3;
    gap: 30px;
    .lecture-item {
        flex-grow: 1;
        flex-basis: 0;
        min-width: 0;

        a {
            color: $color_3;
            text-decoration: none;
        }

        a:hover {
            color: $color_4
        }
    }
    .poster {
        position: relative;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0;
            height: 0;
            background-color: $background-color_5;
        }
        .read-more {
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            z-index: 1;
            color: $color_1;
            margin: 0 !important;
            &:hover {
                color: $color_4;
            }
        }
        a {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }
    .lecture-content {
        background-color: $background-color_3;
        padding: 0 20px 0 0;
        min-height: 12rem;
    }
    h6 {
        margin: 13px 0 18px;
        a {
            margin: 0;
        }
    }
    .regular {
        margin: 0;
        margin-bottom: 21px;
    }
    .group {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: -6px;
    }
    &:hover {
        .poster {
            &::after {
                width: 100%;
                height: 100%;
            }
            .read-more {
                top: 50%;
            }
            img {
                transform: scale(1.2);
            }
        }
        h6 {
            a {
                color: $color_4;
            }
        }
    }
}
@media (max-width: 1199px) {
    .lecture-slider {
        .slick-dots {
            padding-top: 45px;
            button {
                width: 8px;
                height: 8px;
            }
        }
    }
    .lecture-single-inner {
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
        padding: 20px;
        .lecture-item {
            flex-grow: unset;
            flex-basis: unset;
            min-width: unset;
            width: 100%;
        }
        .lecture-content {
            padding: 30px 0 20px;
        }
        h6 {
            margin: 10px 0 10px;
        }
        .regular {
            margin-bottom: 15px;
        }
    }
}
@media (max-width: 767px) {
    .lecture-slider {
        .slick-dots {
            padding-top: 35px;
        }
    }
    .lecture-single-inner {
        max-width: 430px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
}
@media (max-width: 991px) {
    .lecture-single-inner {
        padding: 20px 15px;
    }
}


// course info

.course {
    background-color: $background-color_3;
}
.course-box {
    .course-box-item {
        padding: 30px 25px;
        background-color: $background-color_3;
        box-shadow: var(--app-color-shadow-dark);
        position: relative;
        z-index: 1;
        margin-bottom: 210px;
        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
        h5 {
            margin: 20px 0;
        }
        .text {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            background-color: $background-color_3;
            box-shadow: var(--app-color-shadow-dark);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -95px;
            border-radius: 50%;
            z-index: 1;
            &::after {
                content: "";
                width: 1px;
                height: 150px;
                border: 1px dashed var(--app-color-content);
                position: absolute;
                top: 87%;
                left: 70px;
                transform: translateX(-50%) rotate(-30deg);
                z-index: -1;
            }
            p {
                margin: 0;
                font-size: 1.3em;
                font-weight: 600;
            }
        }
        .arrow {
            width: 30px;
            height: 30px;
            background-color: $background-color_3;
            box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.15);
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            right: -15px;
            z-index: -1;
        }
        &:hover {
            background-color: $background-color_1;
            box-shadow: var(--app-color-shadow-dark);
            h5 {
                color: $color_1;
            }
            p {
                color: $color_1;
            }
            .text {
                background-color: $background-color_1;
            }
            .arrow {
                background-color: $background-color_1;
            }
        }
    }
}
.course-box-right {
    margin-top: 185px;
    .course-box-item-right {
        .text {
            right: unset;
            left: -95px;
            &::after {
                top: 87%;
                left: unset;
                height: 144px;
                right: 70px;
                transform: translateX(-50%) rotate(30deg);
            }
        }
        .text-alt {
            &::after {
                content: none;
            }
        }
        .arrow {
            right: unset;
            left: -15px;
        }
    }
}
@media (max-width: 1199px) {
    .course-box {
        .course-box-item {
            padding: 30px 15px;
            margin-bottom: 30px;
            .text {
                display: none;
            }
            .arrow {
                display: none;
            }
        }
    }
    .course-box-right {
        margin-top: 0;
    }
}
@media (max-width: 1399px) {
    .course-box {
        .course-box-item {
            .arrow {
                width: 30px;
                height: 30px;
            }
        }
    }
}
@media (max-width: 767px) {
    .course-box-right {
        margin-top: 30px;
    }
}


// short course info

.courseshort {
    background: var(--app-color-light);
}
.courseshort-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    color: $color_1;
}
.courseshort-item {
    flex-grow: 1;
    min-width: 0;
    flex-basis: 0;
    padding: 35px;
    background-color: $background-color_2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    .courseshort-item-content {
        max-width: 400px;
    }
    h4 {
        margin-bottom: 21px;
    }
    a {
        color: $color_1;
        margin-bottom: 0;
        > :first-child { // icon
            font-size: 1.5rem;
        }
    }
    &:hover {
        background-color: $background-color_1;
    }
}
.courseshort-item-secondary {
    background-color: $background-color_1;
    &:hover {
        background-color: $background-color_2;
    }
}
@media (max-width: 767px) {
    .courseshort-box {
        flex-direction: column;
        gap: 20px;
        top: 0;
        padding-top: 60px;
        margin-bottom: 1px;
    }
    .courseshort-item {
        flex-grow: unset;
        min-width: unset;
        flex-basis: unset;
        width: 100%;
        padding: 30px 15px;
    }
}
@media (max-width: 1199px) {
    .courseshort-item {
        padding: 30px 20px;
        h4 {
            margin-bottom: 17px;
        }
    }
}
@media (max-width: 424px) {
    .courseshort-item {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }
}


.about-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
        margin: .5rem;
        .fa-arrow-right {
            color: $color_4;
            font-size: 0.8em;
            margin-right: 0.125rem;
        }
    }
}

.button {
    padding: 15px 30px;
    background-color: $background-color_1;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    z-index: 9;
    color: $color_1;
    i {
        font-size: inherit;
        color: $color_2;
        transition: inherit;
    }
    &::before {
        background: #fff;
        content: "";
        height: 200px;
        opacity: 0;
        position: absolute;
        top: -50%;
        bottom: 0;
        transform: rotate(15deg);
        width: 30px;
        transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
        z-index: -1;
    }
    &::after {
        background: #fff;
        content: "";
        height: 200px;
        opacity: 0;
        position: absolute;
        top: -50%;
        transform: rotate(15deg);
        transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 30px;
        z-index: -2;
    }
    &:hover {
        color: $color_1;
        background-color: $background-color_2;
    }
}
.button-full {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color_2;
    color: $color_1;
    &:hover {
        background-color: $background-color_1;
    }
}
.button-light {
    color: $color_3;
    background-color: $background-color_3;
    &:hover {
        background-color: $background-color_2;
    }
}
.button-effect {
    &::before {
        left: -50%;
    }
    &::after {
        left: -100%;
    }
    &:hover {
        &::before {
            left: 120%;
            opacity: 0;
        }
        &::after {
            left: 200%;
            opacity: 1;
        }
    }
}
@media (max-width: 991px) {
    .button {
        padding: 11px 25px;
    }
}
