.app {
  --app-color-main:#222222;
  --app-color-main-rgb:34,34,34;
  --app-color-darkless:#465a65;
  --app-color-light:#eceff1;
  --app-color-gray:#cfd8dc;
  --app-color-gray-rgba:207,216,220;
  --app-color-content: #4475b5;
  --app-color-red-rgb:234,6,43;
  --app-color-shadow:0 10px 50px rgba(0,0,0,0.07);
  --app-color-shadow-dark:0 16px 35px rgba(0,0,0,0.15);
  --app-color-blue:#1eaeeb;
}
