@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: 'Raleway', sans-serif;
*/

:root {
  --wpr-main:#222222;
  --wpr-main-rgb:34,34,34;
  --wpr-darkless:#465a65;
  --wpr-light:#eceff1;
  --wpr-gray:#cfd8dc;
  --wpr-gray-rgba:207,216,220;
  --wpr-red:#ea062b;
  --wpr-red-rgb:234,6,43;
  --wpr-shadow:0 10px 50px rgba(0,0,0,0.07);
  --wpr-shadow-dark:0 16px 35px rgba(0,0,0,0.15);
  --wpr-blue:#1eaeeb;
}

/*---------------------------------------------------------/
[01] COMMON STYLE
[02] FOOTER
[03] SOCIAL LIST
[04] MODAL FORM
[05] BUTTONS
[06] SCROLL UP
---------------------------------------------------------*/
/*---------------------------------------------------------/
[01] COMMON STYLE
---------------------------------------------------------*/

* {
  outline: none!important;
  transition: all 0.3s ease-out 0s;
}
*, *::after, *::before {
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  background:#fff;
  color: var(--wpr-main);
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height:1.5;
  overflow-x: hidden;
}
@media (min-width: 992px) {
  body {
    margin-bottom:80px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
  }
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 20px 0;
  line-height: 1.5;
}
h6 {
  text-align: center;
}
h1 {
  margin: 30px 0;
}
ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:hover,
a:active,
a:focus{
  color: var(--wpr-red);
  text-decoration: none;
}
*::-moz-selection {
  background: var(--wpr-main);
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: var(--wpr-main);
  color: #fff;
  text-shadow: none;
}
::selection {
  background: var(--wpr-main);
  color: #fff;
  text-shadow: none;
}
*::-moz-placeholder {
  color: var(--wpr-main);
  font-size: 1em;
  opacity: 1;
}
*::placeholder {
  color: var(--wpr-main);
  font-size: 1em;
  opacity: 1;
}
a {
  color: var(--wpr-darkless);
}
img {
  max-width: 100%;
}
section {
  padding: 50px 0;
}
@media (min-width: 1200px) {
  .container-narrow {
    max-width: 1024px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
.container-narrow {
  padding-bottom: 50px;
}
.container-narrow ul li {
  list-style: circle;
  margin: 10px 0 10px 30px;
}
.container-narrow ol li {
  list-style: decimal;
  margin: 10px 0 10px 30px;
}
.container-narrow a {
  color: var(--wpr-blue);
}
.container-narrow a:hover,
.container-narrow a:active,
.container-narrow a:focus{
  color: var(--wpr-red);
}

/*---------------------------------------------------------/
[02] BUTTON
---------------------------------------------------------*/


/*---------------------------------------------------------/
[03] SCROLL UP
---------------------------------------------------------*/
.scrollToTop {
  position: fixed;
  bottom: 0;
  right: 10%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  background-color: var(--wpr-red);
  color: #fff;
  font-size: 1.5em;
  z-index: 999;
  cursor: pointer;
  box-shadow: var(--wpr-shadow);
  transform: translateY(100%);
}
.scrollToTop i {
  color: #fff;
}
.scrollToTop:hover {
  background-color: var(--wpr-main);
}
.scrollToTop.active {
  bottom: 30px;
  transform: translateY(0%);
}
@media (max-width: 767px) {
  .scrollToTop.active {
    bottom: 15px;
  }
}

/*---------------------------------------------------------/
[04] FOOTER
---------------------------------------------------------*/

/*---------------------------------------------------------/
[08] BANNER
---------------------------------------------------------*/
/*---------------------------------------------------------/
[09] ABOUT
---------------------------------------------------------*/

/*---------------------------------------------------------/
[10] COURSE SHORT
---------------------------------------------------------*/

/*---------------------------------------------------------/
[11] COURSE
---------------------------------------------------------*/

/*---------------------------------------------------------/
[12] LECTURE
---------------------------------------------------------*/

/*---------------------------------------------------------/
[13] LABS
---------------------------------------------------------*/

/*---------------------------------------------------------/
[14] PRESENTATION
---------------------------------------------------------*/

/*---------------------------------------------------------/
[15] BALLS
---------------------------------------------------------*/

.balls {
  padding: 90px 0;
  color: #fff;
}
.balls h2{
  text-align: center;
  margin-bottom: 80px;
}
.balls-box {
  padding: 80px;
  border: 10px solid var(--wpr-red);
  text-align: center;
}
@media (max-width: 1199px) {
  .balls-box {
    padding: 60px 40px;
  }
}
@media (max-width: 767px) {
  .balls-box {
    padding: 60px 20px 40px;
    border: 4px solid var(--wpr-red);
  }
}
.balls-box .icon-box {
  width: 80px;
  min-width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  margin: 0 auto;
  position: relative;
  top: -126px;
  margin-bottom: -82px;
  transform: rotate(45deg);
  background-color: var(--wpr-red);
  box-shadow: var(--wpr-shadow);
  transition: all 0.3s ease-out;
}
.balls-box .icon-box img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 1199px) {
  .balls-box .icon-box {
    width: 60px;
    min-width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    top: -94px;
    margin-bottom: -63px;
  }
  .balls-box .icon-box img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .balls-box .icon-box {
    top: -92px;
    margin-bottom: -61px;
  }
}
.balls-box .icon-box i {
  font-size: 2em;
  line-height: 1;
  color: #fff;
  transform: rotate(-45deg);
}
@media (max-width: 1199px) {
  .balls-box .icon-box i {
    font-size: 1.5em;
  }
}
.balls-box .icon-box:hover {
  transform: rotate(0deg);
  background-color: #fff;
}
.balls-box .icon-box:hover i {
  transform: rotate(0deg);
  color: var(--wpr-red);
}

.balls-box .inner-box {
  text-align: left;
  padding:10px;
}
.balls-box .inner-list li{
  list-style:none;
  margin:10px;
  text-align: left;
}
.balls-box .inner-box span{
  display:inline-block;
  text-align:center;
  font-style:normal;
  font-size:1.6em;
  line-height:1.8em;
  background:var(--wpr-gray);
  width:50px;
  height:50px;
  margin-right:10px;
  border-radius:100%;
  color:var(--wpr-main);
}
.balls-box .inner-box span.test{
  background:var(--wpr-red);
  color:#fff;
}
.balls-box .inner-box h4{
  margin:20px;
}
.balls hr {
  background: #fff;
  color: #fff;
  margin: 30px 0;
  opacity: 0.75;
}
.balls-box .inner-bullet {
  text-align:center;
}
.balls-box .inner-bullet li {
  list-style:none;
  display:inline-block;
  vertical-align:middle;
  margin:10px;
}
.balls-box .inner-bullet strong{
  display:inline-block;
  background:var(--wpr-gray);
  width:30px;
  height:30px;
  margin-right:5px;
  border-radius:100%;
}
.balls-box .inner-bullet strong.test{
  background:var(--wpr-red);
}
.balls-box .inner-box span.pres{
  background:var(--wpr-gray);
  color: #fff;
}
.balls-box .inner-bullet strong.pres{
  background:var(--wpr-gray);
}

/*
.balls-box p {
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
}
.balls-box h2 {
	text-align: center;
}
.balls-box .group {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
	margin: -6px 0 -4px;
}
@media (max-width: 575px) {
	.balls-box .group {
		flex-direction: column;
		gap: 12px;
	}
}
.balls-box .group a {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1em;
	font-weight: 500;
}
.balls-box .group a i {
	font-size: 0.8em;
}
.balls-box .group a:hover {
	color: var(--wpr-red);
}
.balls-box:hover .icon-box {
	transform: rotate(0deg);
	background-color: #fff;
}
.balls-box:hover .icon-box i {
	transform: rotate(0deg);
	color: var(--wpr-red);
}
.balls-box:hover .group a {
	color: var(--wpr-red);
}
*/
/*---------------------------------------------------------/
[16] FAQ
---------------------------------------------------------*/
.faq-wrapper .accordion-item {
  margin-bottom: 25px;
  border: 0 solid transparent;
  background-color: #fff;
  box-shadow: var(--wpr-shadow-dark);
}
.faq-wrapper .accordion-item:nth-last-of-type(1) {
  margin-bottom: 0px;
}
.faq-wrapper .accordion-button {
  box-shadow: 0;
  padding: 14px 25px;
  font-size: 18px;
  padding-right: 40px;
  background-color: var(--wpr-red);
  border: none;
  color: #fff;
  position: relative;
}
@media (max-width: 1199px) {
  .faq-wrapper .accordion-button {
    padding: 14px 15px;
    font-size: 1em;
  }
}

@media (max-width: 1199px) {
  .faq-wrapper .accordion-button::after {
    left: unset;
    right: 15px;
  }
}
.faq-wrapper .collapsed {
  background-color: #fff;
  color: var(--wpr-main);
}

.faq-wrapper .accordion-body {
  padding: 25px;
  background-color: #fff;
  position: relative;
}
@media (max-width: 1199px) {
  .faq-wrapper .accordion-body {
    padding: 25px 15px;
  }
}
.faq-wrapper .accordion-body::before {
  content: none;
}
.faq-wrapper .accordion-body p {
  margin-bottom: 29px;
}
@media (max-width: 1199px) {
  .faq-wrapper .accordion-body p {
    margin-bottom: 20px;
  }
}
.faq-wrapper .accordion-body p:nth-last-of-type(1) {
  margin-bottom: -6px;
}
.teacher-box {
  display: flex;
  gap: 40px;
}
.summaru-list {
  margin:20px 0 30px;
}
.summaru-list li {
  list-style:none;
  display: flex;
  align-items: center;
  margin:0;
  border-bottom: 1px dashed var(--wpr-main);
  padding: 8px;
  font-size: 0.9em;
}
.summaru-list li a{
  color: var(--wpr-main);
}
.summaru-list li a:hover{
  color: var(--wpr-red);
  padding-left: 5px;
  text-decoration: none;
}
.summaru-list li span{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--wpr-gray);
  width:30px;
  height:30px;
  margin-right:10px;
  border-radius:100%;
  font-size: 1.3em;
  color: #fff;
}
.summaru-list li:hover span{
  transform: rotate(360deg);
}
.summaru-list li.title {
  font-size: 1.1em;
  font-weight: 600;
}
.summaru-list li.title  span{
  background:transparent;
  width:100px;
  height:100px;
  border-radius: 0;
  margin-right:10px;
}
.summaru-list li.title:hover  span{
  transform: none;
}
.summaru-list li.title span img{
  width:100px;
  height:100px;
  border-radius: 0;
}
.summaru-list li strong {
  margin-right: 20px;
}
/*---------------------------------------------------------/
[17] SLOGAN
---------------------------------------------------------*/
.slogan {
  padding: 80px 0;
  background-color: var(--wpr-red);
  color: #fff;
}
.column3{
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
}
.column2{
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}
.column3,
.column2 {
  margin:10px 0 20px;
  gap: 2em;
}
.column3 li,
.column2 li {
  list-style:none;
  margin:7px 0;
}
@media (max-width: 767px) {
  .column3,
  .column2 {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }
}

/*---------------------------------------------------------/
[18] JOURNAL
---------------------------------------------------------*/

.result-block .nav-pills .nav-link {
  border: 0;
  border-radius: 0;
  background-color: var(--wpr-light);
  color: var(--wpr-main);
  margin-bottom: 10px;
  width: auto;
}
.result-block .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff!important;
  background-color: var(--wpr-red);
}
.result-title .nav-link span:after{
  display: inline-block;
  margin-left: 10px;
  font-family: 'Line Awesome Free';
  font-weight: 900;
  content: "\f107";
}
@media (min-width:1200px){
  .result-block{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .result-title {
    flex-shrink: 0;
    /*width: 20%;*/
    display: block;
  }
  .result-title .nav-link{
    /*width: 100%;
    text-align: right;*/
  }
  .result-title .nav-link span:after{
    display: inline-block;
    content: "\f105";
    margin-left: 10px;
    font-family: 'Line Awesome Free';
    font-weight: 900;
  }
  .result-table {
    width:100%;
    min-height: 100vh;
    border: 1px solid var(--wpr-gray);
    overflow: auto;
    scrollbar-width: thin;
  }
}
.result-table::-webkit-scrollbar{
  width: 7px;
  background: #eee;
}
.result-table::-webkit-scrollbar-thumb{
  width: 7px;
  background: #ccc;
}

.result-table iframe{
  width: 100%!important;
  min-height: 100vh;
}
.result-table h6 {
  font-size: 0.85em;
  text-align: right;
  margin:10px 20px;
  font-weight: 400;
}
@media (min-width: 1000px) {
  .subtitle {
    width: 900px;
    font-weight: 600;
    color: var(--wd-darkless);
    margin: 20px auto;
  }
}

.example {
  width: 100%;
  min-height: 300px;
  border: 1px solid var(--wpr-gray);
  box-shadow: var(--wpr-shadow-dark);
}
.icon-list {
  text-align: center;
}
.icon-list li{
  display: inline-block;
}
.icon-list li:hover img{
  transform: scale(1.1);
}

.lecture-list li {
  font-size: 1.2em;
}
.lecture-list li ul li {
  font-size: 0.9em;
}
.lecture-list li a{
  color: var(--wpr-main);
}
.lecture-list li a:hover{
  color: var(--wpr-blue);
  text-decoration: underline;
}
