$color_1: #fff;

footer {
    background: var(--app-color-main);
    text-align: center;
    padding: 20px 0;
    a {
        color: $color_1;
    }
}
.footer-list {
    li {
        display: inline-block;
        margin: 10px;
    }
}
